@layer base {
  :root,
  html[data-theme="light"] {
    --color-fill: 246, 238, 225;
    --color-text-base: 1, 44, 86;
    --color-accent: 225, 74, 57;
    --color-card: 217, 209, 195;
    --color-card-muted: 239, 216, 176;
    --color-border: 220, 152, 145;
  }

  html[data-theme="dark"] {
  /** Dark theme primary colors */
  --color-primary-a0: #ffa652;
  --color-primary-a10: #ffb066;
  --color-primary-a20: #ffba79;
  --color-primary-a30: #ffc48c;
  --color-primary-a40: #ffcd9e;
  --color-primary-a50: #ffd7b1;

  /** Dark theme surface colors */
  --color-surface-a0: #263022;
  --color-surface-a10: #3b4437;
  --color-surface-a20: #50594d;
  --color-surface-a30: #676e64;
  --color-surface-a40: #7f857c;
  --color-surface-a50: #979c94;

  /** Dark theme mixed surface colors */
  --color-surface-mixed-a0: #3a3b27;
  --color-surface-mixed-a10: #4d4e3c;
  --color-surface-mixed-a20: #626251;
  --color-surface-mixed-a30: #767768;
  --color-surface-mixed-a40: #8c8c7f;
  --color-surface-mixed-a50: #a2a297;
  }
}

  .bg-primary {
  color: var(--color-primary-a50); 
  background-color: var(--color-surface-a0); 
  }


  // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.radio-canada-<uniquifier> {
  font-family: "Radio Canada", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* 
  html[data-theme="dark"] {
    --color-fill: 49, 16, 37;
    --color-fill2; 125, 104, 105;
    --background: radial-gradient(at bottom left, rgb(var(--color-fill)) 50%,  rgb(var(--color-fill2)) 95%);
    --color-accent: 28, 6%, 92;
    --color-text-base: 237, 144, 4;
    --color-card: 115, 10, 71;
    --color-card-muted: 22, 65, 55;
    --color-border: 115, 20, 72;
  } */
  }
  #sun-svg,
  html[data-theme="dark"] #moon-svg {
    display: none;
  }
  #moon-svg,
  html[data-theme="dark"] #sun-svg {
    display: block;
  }
  body {
    display: flex; 
    flex-direction: column; 
    font-family: Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;

    flex min-h-[100svh] flex-col bg-skin-fill font-mono text-skin-base selection:bg-skin-accent/70 selection:text-skin-invert
  }

  section,
  footer {
    padding-left: 1rem;
    padding-right: 1rem; 
    max-width: 48rem; 
    margin-bottom: 7rem; 

  }

  section h1 {font-size: 1.5rem;
    line-height: 2rem; 
    letter-spacing: 0.05em; 
    
    @media (min-width: 640px) { 
      font-size: 1.875rem;
    line-height: 2.25rem; 
     }
  }
  a {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block h-6 w-6 fill-skin-base group-hover:fill-skin-accent;
  }
  svg.icon-tabler {
    @apply inline-block h-6 w-6 scale-125 fill-transparent stroke-current stroke-2 opacity-90 group-hover:fill-transparent sm:scale-110;
  }
  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-skin-base prose-h3:italic prose-p:!text-skin-base prose-a:!text-skin-base prose-a:!decoration-dashed prose-a:underline-offset-8 hover:prose-a:text-skin-accent prose-blockquote:!border-l-skin-accent/50 prose-blockquote:opacity-80 prose-figcaption:!text-skin-base prose-figcaption:opacity-70 prose-strong:!text-skin-base prose-code:rounded prose-code:bg-skin-card/75 prose-code:p-1 prose-code:before:!content-none prose-code:after:!content-none prose-ol:!text-skin-base prose-ul:overflow-x-clip prose-ul:!text-skin-base prose-li:marker:!text-skin-accent prose-table:text-skin-base prose-th:border prose-th:border-skin-line prose-td:border prose-td:border-skin-line prose-img:!my-2 prose-img:mx-auto prose-img:border-2 prose-img:border-skin-line prose-hr:!border-skin-line;
  }
  .prose a {
    @apply break-words hover:!text-skin-accent;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none text-skin-base;
  }
  .prose summary {
    @apply focus-outline;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-skin-card;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-skin-card-muted;
  }

  /* ===== Code Blocks & Syntax Highlighting ===== */
  pre:has(code) {
    @apply border border-skin-line;
  }
  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }

  article {
    margin-top: 2rem; 
    max-width: 48rem;
  }

  /* Apply Dark Theme (if multi-theme specified) */
  html[data-theme="dark"] pre:has(code),
  html[data-theme="dark"] pre:has(code) span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
}
